<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cart
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>{{total}}</ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cart</ion-title>      
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail class="ion-margin-end">
        <img [src]="item.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{item.title}}</h2>
        <p>{{item.price}}</p>
      </ion-label>
      <ion-icon slot="end" name="trash-outline" (click)="removeItem(item)"></ion-icon>
      
    </ion-item>
  </ion-list>
</ion-content>
