<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>

      <ion-col size="6" *ngFor="let item of products" (click)="addToCart(item)">
        <ion-card>
          <img [src]="item.image" />
        </ion-card>
        <ion-icon name="cart-outline" class="product-cart-icon"></ion-icon>

      </ion-col>

    </ion-row>
  </ion-grid>

  
</ion-content>
